name: github-Linux
on: [push, pull_request]

jobs:
  CI:
    strategy:
      matrix:
        distro: ['fedora:latest', 'fedora:rawhide', 'ubuntu:latest']
        cxx: ['g++', 'clang++']
        cmake_build_type: ['Release', 'Debug']
        include:
          - distro: 'fedora:intel'
            cxx: 'icpc'
            cmake_build_type: 'Release'
          - distro: 'fedora:intel'
            cxx: 'icpc'
            cmake_build_type: 'Debug'
          - distro: 'fedora:intel'
            cxx: 'icpx'
            cmake_build_type: 'Release'
          - distro: 'fedora:intel'
            cxx: 'icpx'
            cmake_build_type: 'Debug'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/kokkos/ci-containers/${{ matrix.distro }}
      # see https://github.com/actions/virtual-environments/issues/3812
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Update submodules
        run: |
          git submodule init
          git submodule update
      - name: Checkout Kokkos
        uses: actions/checkout@v5
        with:
          repository: kokkos/kokkos
          # FIXME Use 4.0.00 or later when released
          ref: b5bd709fd615a0a5bc78492f171307bdafa2f53a
          path: kokkos_src
      - name: Install Kokkos
        run: |
          cd kokkos_src
          mkdir -p build
          cd build
          cmake \
            -DKokkos_ENABLE_OPENMP=ON \
            -DCMAKE_CXX_COMPILER=${{ matrix.cxx }} \
            -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
            -DCMAKE_INSTALL_PREFIX=/tmp/kokkos-install \
            ..
          make install
      - name: Build DESUL
        run: |
          mkdir -p build
          cd build
          cmake \
            -DCMAKE_CXX_COMPILER=${{ matrix.cxx }} \
            -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
            -DCMAKE_PREFIX_PATH=/tmp/kokkos-install \
            -DENABLE_TESTS=ON \
            ..
          make
      - name: Test DESUL
        working-directory: build
        run: ctest --output-on-failure
